.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.button {
    background-color: #0d6efd;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.div-btn-upl {
    display: grid;
    justify-content: center;
    margin: 3px;
}

.flex-center {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.div-border {
    display: flex;
    border-style: double;
    border-color: #0d6efd;
    border-width: 2px;
    margin-right: 3px;
    margin-bottom: 15px;
    align-items: center;
}

.container-graficas {
    margin-top: 15px !important;
    min-width: 1300px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-style: double;
    border-left: none;
    border-right: none;
    border-color: #0d6efd;
}

.container-upload-file {
    border-style: dashed;
    border-color: #0d6efd;
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}